/* @import url("https://fonts.googleapis.com/css?family=Poppins"); */
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v15-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v18-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v18-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v18-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v18-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
* {
  margin: 0px;
  padding: 0px;
}
/* STRUCTURE
  1. GENERAL ELEMENTS
    1.1 HTML Elements
    1.2 Bootstrap
    1.3 My Variables
  2. HEADER SECTION
    2.1 Profile
    2.2 Navbar
    2.3 Particles
    2.4 Carousel
    2.5 Home
  3. MAIN SECTION
  4. FOOTER SECTION
  5. DEVICE STYLES

*/

/* ==================================================================
  1. HTML Elements
================================================================== */
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f29f05;
  background-color: #212026;
  background: url("../img/backgrounds/BlackYellow.svg");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1rem;
  margin-bottom: 1.75rem;
}

h1 {
  font-size: 3em;
  margin-bottom: 3.5rem;
  color: #f29f05;
}

/* ==================================================================
  1.2 Bootstrap
================================================================== */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col,
.col-lg-9,
.col-lg-3 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* ==================================================================
  1.3 My Variables
================================================================== */
.my-width {
  width: 100%;
  overflow: hidden;
}

.my-height {
  height: 100%;
}

.my-container .my-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.my-primary {
  color: #212026;
}

.my-secondary {
  color: #f29f05;
}

.my-text-primary {
  color: #393742;
}

.my-text-secondary {
  color: #f29f05;
}

.my-bg-primary {
  background-color: #212026;
}

.my-bg-secondary {
  background-color: #f29f05;
}
.sp-small {
  margin: 5px;
}

/* ==================================================================
  2.1 Profile
================================================================== */
.my-profile {
  height: inherit;
}

.image-height {
  height: 60%;
  overflow: hidden;
}

.image-height img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

.profile-details {
  height: 40%;
  background-color: #f29f05;
  bottom: 0%;
}

.profile-name {
  font-size: 30px;
  color: #212026;
  font-weight: 600;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.profile-description {
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: #393742;
}

.hr-0-margin {
  margin: 0;
  color: #ffffff;
}

/* ==================================================================
  2.2 Navbar
================================================================== */
.header-area {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
.navbar {
  font-family: "Poppins";
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}
.navbar .navbar-brand {
  font-size: 1.2rem;
}
.navbar-brand img {
  height: 30px;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f29f05;
}
.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(33, 32, 38, 0.9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 0.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #f29f05;
  letter-spacing: 0.3em;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #f2b705;
  letter-spacing: 0.3em;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(33, 32, 38, 0.9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #f29f05;
  letter-spacing: 0.3em;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #f29f05;
  letter-spacing: 0.3em;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(33, 32, 38, 0.9);
    letter-spacing: 0.2em;
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
    letter-spacing: 0.2em;
  }
}
@media screen and (min-width: 767px) {
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
    letter-spacing: 0.2em;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: "";
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #f29f05;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    letter-spacing: 0.3em;
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/BlackYellow.svg");

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}
#search h3 {
  position: absolute;
  top: 25%;
  width: 100%;
  color: #fff;
  text-align: center;
}
#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 75%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

.search-btn {
  position: absolute;
  top: 60%;
  left: 40%;
  width: 75px;
  height: 75px;
  margin-top: 61px;
  margin-left: -40px;
  border-radius: 50%;
  color: #212026;
  background-color: #f29f05;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #888;
  border-color: #ccc;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

/* ==================================================================
  2.3 Particles
================================================================== */
.home-5-bg #particles-js {
  z-index: 1 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
  /* background-color: #212026; */
  /* background-image: url(""); */
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* ==================================================================
  2.4 Carousel
================================================================== */
.carousel,
.carousel-inner {
  height: 100% !important;
  overflow: hidden;
}

.carousel-item img,
.carousel-item.active img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block;
  height: 100% !important;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: start;
}
.carousel-caption p {
  bottom: 20%;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 10%;
  font-size: 1rem;
}

.carousel-indicators {
  flex-direction: row;
  left: 5px;
  top: 30%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: left;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1 !important;
  transition: opacity 0.6s ease;
}

.carousel-indicators li.active {
  background-color: #f29f05 !important;
}

.carousel-control-prev {
  z-index: 15;
  left: 15% !important;
  right: auto !important;
}

.carousel-control-next {
  z-index: 15;
  right: 15% !important;
  left: auto !important;
}

.carousel-control-next {
  position: absolute;
  top: 90% !important;
  bottom: 10%;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease;
  background-color: #f29f05;
  border: #f29f05;
  border-style: solid;
}

.carousel-control-prev {
  position: absolute;
  top: 90% !important;
  bottom: 10%;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  color: #fff;
  text-align: center;
  transition: opacity 0.15s ease;
  border: white;
  border-style: solid;
}

/* ==================================================================
  2.5. Home
================================================================== */
.section {
  position: relative;
}

.home-5-bg {
  background: #212026;
  position: relative;
  background-size: cover;
  height: 100%;
  background-position: center center;
}

.home-5-content {
  z-index: 1;
  position: relative;
  height: 50% !important;
}

.bg-overlay {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-5-content {
  z-index: 1;
  position: relative;
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.8);
}

.f-15 {
  font-size: 15px;
}

/* ==================================================================
  1. GENERAL ELEMENTS
================================================================== */

/* ==================================================================
  5. DEVICE STYLES
================================================================== */
@media (max-width: 575.98px) {
  .home-5-title {
    font-size: 50px;
  }
  #search input[type="search"] {
    font-size: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home-5-title {
    font-size: 60px;
  }
  #search input[type="search"] {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home-5-title {
    font-size: 70px;
  }
  #search input[type="search"] {
    font-size: 60px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-5-title {
    font-size: 80px;
  }
  #search input[type="search"] {
    font-size: 70px;
  }
}

@media (min-width: 1200px) {
  .home-5-title {
    font-size: 90px;
  }
  #search input[type="search"] {
    font-size: 80px;
  }
}
