/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
.kenburns-top {
  -webkit-animation: kenburns-top 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
  animation: kenburns-top 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

/**
   * ----------------------------------------
   * animation kenburns-top-reverse
   * ----------------------------------------
   */
.kenburns-top-reverse {
  -webkit-animation: kenburns-top 10s cubic-bezier(0.445, 0.05, 0.55, 0.95)
    reverse both;
  animation: kenburns-top 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) reverse both;
}

@-webkit-keyframes kenburns-top-reverse {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top-reverse {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
